<!-- 搜索条ly -->
<div class="navSearch frame_12k clearfix">
    <a href="/site/index.htm"><img src="/front/sanhai/images/logo.png" alt=""></a>
    <div class="couSearch fl">
        <ul class="searchList clearfix">
            <li class="ac">一对一</li>
            <li>辅导班</li>
            <li>讲作业</li>
            <li class="hide">旁听</li>
            <li class="hide">课海</li>
            <li>知名品牌</li>
        </ul>
        <div class="searchInp" id="search_input">
            <i></i>
            <input type="text" placeholder="请输入关键字搜索">
            <button id="sercher">搜索</button>
        </div>

    </div>

    <div class="shopCar fr hide">
        <a href="/shopping/shoppingCoureses.htm"><i class="car"></i>我的购物车<em id="shoppingcount">0</em><i
                class="car1"></i></a>
    </div>

</div>
<!-- 主导航 -->
<!--导航条开始ly-->
<div class="school_mainNav " style="z-index:100">
    <div class="frame_12k">
        <div class="all_class_type fl pr" style="z-index: 90;">
            <h2 id="mainNavToggle" class="select_classes_bg">全部课程分类<i></i></h2>

            <div id="mainNavBarMenu" class="class_type_wrap pa">
                <ul class="class_type" id="js-sidebar">
                    <li>
                        <div class="class_type_content pr">
                            <h3>小学</h3>

                            <p>
                                <a>数学</a>
                                <a>语文</a>
                                <a>英语</a>
                            </p>
                            <a href="javascript:;" class="more_class select_classes_bg pa"></a>
                            <ul class="more_class_cont pa hide">
                                <li><a>语文</a></li>
                                <li><a>数学</a></li>
                                <li class="noBorder"><a>英语</a></li>


                            </ul>

                        </div>
                    </li>
                    <li>
                        <div class="class_type_content pr">
                            <h3>小升初</h3>

                            <p>
                                <a>数学</a>
                                <a>语文</a>
                                <a>英语</a>
                            </p>
                            <a href="javascript:;" class="more_class select_classes_bg pa"></a>
                            <ul class="more_class_cont pa hide">
                                <li><a>数学</a></li>
                                <li><a>语文</a></li>
                                <li class="noBorder"><a>英语</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="class_type_content pr">
                            <h3>初中</h3>

                            <p>
                                <a>数学</a>
                                <a>语文</a>
                                <a>英语</a>
                            </p>
                            <a href="javascript:;" class="more_class select_classes_bg pa"></a>
                            <ul class="more_class_cont pa hide">
                                <li><a>数学</a></li>
                                <li><a>语文</a></li>
                                <li><a>英语</a></li>
                                <li><a>生物</a></li>
                                <li><a>物理</a></li>
                                <li><a>化学</a></li>
                                <li><a>地理</a></li>
                                <li class="noBorder"><a>历史</a></li>


                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="class_type_content pr">
                            <h3>中考</h3>

                            <p><a>数学</a>
                                <a>语文</a>
                                <a>英语</a>
                            </p>
                            <a href="javascript:;" class="more_class select_classes_bg pa"></a>
                            <ul class="more_class_cont pa hide">
                                <li><a>数学</a></li>
                                <li><a>语文</a></li>
                                <li><a>英语</a></li>
                                <li><a>物理</a></li>
                                <li><a>化学</a></li>
                                <li class="noBorder"><a>历史</a></li>

                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="class_type_content pr">
                            <h3>高中</h3>

                            <p><a>数学</a>
                                <a>语文</a>
                                <a>英语</a>
                            </p>
                            <a href="javascript:;" class="more_class select_classes_bg pa"></a>
                            <ul class="more_class_cont pa hide">
                                <li><a>数学</a></li>
                                <li><a>语文</a></li>
                                <li><a>英语</a></li>
                                <li><a>生物</a></li>
                                <li><a>物理</a></li>
                                <li><a>化学</a></li>
                                <li><a>地理</a></li>
                                <li><a>历史</a></li>
                                <li class="noBorder"><a>政治</a></li>
                                <!-- <li><a >理综</a></li>
                                <li class="noBorder"><a >文综</a></li> -->
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="class_type_content pr noBorder">
                            <h3>高考</h3>

                            <p><a>数学</a>
                                <a>语文</a>
                                <a>英语</a>
                            </p>
                            <a href="javascript:;" class="more_class select_classes_bg pa"></a>
                            <ul class="more_class_cont pa hide">
                                <li><a>数学</a></li>
                                <li><a>语文</a></li>
                                <li><a>英语</a></li>
                                <li><a>生物</a></li>
                                <li><a>物理</a></li>
                                <li><a>化学</a></li>
                                <li><a>地理</a></li>
                                <li><a>历史</a></li>
                                <li class="noBorder"><a>政治</a></li>
                                <!-- <li><a >理综</a></li>
                                <li class="noBorder"><a >文综</a></li> -->
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="mainNav fl">
            <li id="mainNavIndex" class="ac"><a href="/site/index.htm">首页</a></li>
            <li id="mainNavCourse"><a href="/site/course/toOneAdvertising.htm">一对一</a></li>
            <li id="mainbkCourse"><a href="/site/course/loadBkAdvertising.htm">辅导班</a></li>
            <li id="mainNavPtCourse"><a href="/site/ptcourse/selectCourse.htm">讲作业</a></li>
            <li id="mainNavPtCourseTwo" class="hide"><a href="/site/ptCourse/index.htm">旁听</a></li>
            <li class="hide" id="mainNavSchool"><a href="/site/siteSchoolList.htm">知名品牌</a></li>
            <li class="" id="mainBanxueBao"><a href="/site/banxueBaoMain.htm">周周通</a></li>
            <li class="" id="myTbCourse"><a href="/site/tbCourse.htm">把脉直播</a></li>
            <li id="mainNavNews"><a href="http://zixun.kehai.com/">课海头条</a></li>
        </ul>
    </div>
</div>
<!-- 内容 -->
<!--banner-->
<div style=" min-height: 1000px;">
    <div class="bannerWrap">
        <div class="">
            <div class="banner">
                <ul class="bannerList">

                    {{#each banners.advertisings}}
                        {{#compare 4 '>' @index}}
                            <a href="{{imgLink}}" target="_blank" style="">
                                <li class="bannerlist1" style="left: -8.5px;">
                                    <img _src="" src="//r.kehai.com/file/loadImage/{{imgID}}.r">
                                </li>
                            </a>
                        {{else}}

                        {{/compare}}

                    {{/each}}

                    <!--<a href="http://zixun.kehai.com/a/zhuanti/hjb_index.html" target="_blank" style="display: none;">-->
                    <!--<li class="bannerlist1" style="left: -8.5px;">-->
                    <!--<img _src="//r.kehai.com/file/loadImage/1581591843290.r" src="//r.kehai.com/file/loadImage/1581591843290.r">-->
                    <!--</li>-->
                    <!--</a>-->
                    <!--<a href="http://zixun.kehai.com/a/zhuanti/midterm.html" target="_blank" style="display: none;">-->
                    <!--<li class=" bannerlist2" style="left: -8.5px;">-->
                    <!--<img _src="//r.kehai.com/file/loadImage/1578334223155.r" src="//r.kehai.com/file/loadImage/1578334223155.r">-->
                    <!--</li>-->
                    <!--</a>-->
                    <!--<a href="http://zixun.kehai.com/a/zhuanti/zhaomu.html" target="_blank">-->
                    <!--<li class=" bannerlist3" style="left: -8.5px;">-->
                    <!--<img _src="//r.kehai.com/file/loadImage/1580571192402.r" src="//r.kehai.com/file/loadImage/1580571192402.r">-->
                    <!--</li>-->
                    <!--</a>-->
                    <!--<a href="http://zixun.kehai.com/a/zhuanti/9.9.html" target="_blank" style="display: none;">-->
                    <!--<li class=" bannerlist3" style="left: -8.5px;">-->
                    <!--<img _src="//r.kehai.com/file/loadImage/1582389792885.r" src="//r.kehai.com/file/loadImage/1582389792885.r">-->
                    <!--</li>-->
                    <!--</a>-->
                </ul>
                <div class="frame_12k pr">
                    <a href="javascript:void(0);" class="prevBtn  hide" style="opacity: 0;"></a>
                    <a href="javascript:void(0);" class="nextBtn  hide" style="opacity: 0;"></a>
                </div>
                <div class="slidernav pr">
                    <div class="pa slidernav_shadow"></div>
                    <ul class="slidernav_ul pa">
                        <li class="ac" style="left: -8.5px;"></li>
                        <li class="" style="left: -8.5px;"></li>
                        <li class="" style="left: -8.5px;"></li>
                        <li class="" style="left: -8.5px;"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--banner下边开始ly-->
    <div class="banner_bottom frame_12k">
        <div class="banner_cont clearfix">

            {{#each banners.advertisings}}
                {{#compare 4 '==' @index}}

                    <a href="http://kehai.com/site/bk/236183467388437600/bkDetail.htm" target="_blank">
                        <dl class="banner_item fl">
                            <dt class="banner_item_img fl">
                                    <img _src="//r.kehai.com/file/loadImage/1582042851299.r" alt="精品课" title="精品课"
                                         src="//r.kehai.com/file/loadImage/{{imgID}}.r">
                            </dt>

                        </dl>
                    </a>

                {{/compare}}
                {{#compare 5 '==' @index}}

                    <a href="http://kehai.com/site/bk/236183467388437600/bkDetail.htm" target="_blank">
                        <dl class="banner_item fl">
                            <dt class="banner_item_img fl">
                                    <img _src="//r.kehai.com/file/loadImage/1582042851299.r" alt="精品课" title="精品课"
                                         src="//r.kehai.com/file/loadImage/{{imgID}}.r">
                            </dt>

                        </dl>
                    </a>

                {{/compare}}
                {{#compare 6 '==' @index}}

                    <a href="http://kehai.com/site/bk/236183467388437600/bkDetail.htm" target="_blank">
                        <dl class="banner_item fl">
                            <dt class="banner_item_img fl">
                                    <img _src="//r.kehai.com/file/loadImage/1582042851299.r" alt="精品课" title="精品课"
                                         src="//r.kehai.com/file/loadImage/{{imgID}}.r">
                            </dt>

                        </dl>
                    </a>

                {{/compare}}
            {{/each}}


            <!--<a href="http://kehai.com/site/bk/236183356663956576/bkDetail.htm" target="_blank">-->
                <!--<dl class="banner_item fl">-->
                    <!--<dt class="banner_item_img fl">-->
                        <!--<img _src="//r.kehai.com/file/loadImage/1582042851349.r" alt="精品课" title="精品课"-->
                             <!--src="//r.kehai.com/file/loadImage/1582042851349.r">-->
                    <!--</dt>-->

                <!--</dl>-->
            <!--</a>-->


            <!--<a href="http://kehai.com/site/bk/236183980391531616/bkDetail.htm" target="_blank">-->
                <!--<dl class="banner_item fl">-->
                    <!--<dt class="banner_item_img fl">-->
                        <!--<img _src="//r.kehai.com/file/loadImage/1582042851350.r" alt="精品课" title="精品课"-->
                             <!--src="//r.kehai.com/file/loadImage/1582042851350.r">-->
                    <!--</dt>-->
                <!--</dl>-->
            <!--</a>-->


        </div>
    </div>
    <!--今日推荐-->
    <div class="frame_12k todyRecommend clearfix">
        <div class="tody_l frame_l_s">
            <h2>今日推荐</h2>
            <a href="http://kehai.com/site/shool/236036561424876640/findCourseByorgId.htm" target="_blank">
                {{#each banners.advertisings}}
                    {{#compare 7 '==' @index}}
                        <img _src="//r.kehai.com/file/loadImage/1582042851299.r" alt="精品课" title="精品课"
                             src="//r.kehai.com/file/loadImage/{{imgID}}.r">
                    {{else}}

                    {{/compare}}

                {{/each}}
                <!--<img-->
                <!--_src="//r.kehai.com/file/loadImage/1579454033150.r" alt="精品课" title="精品课"-->
                <!--src="//r.kehai.com/file/loadImage/1579454033150.r">-->
            </a>
        </div>
        <div class="tody_r frame_r_l pr tab">
            <ul class="tabList noBorder">
                <li><a class="ac">语文</a>
                </li>
                <li><a>数学</a>
                </li>
                <li><a>英语</a>
                </li>
                <li><a>物理</a>
                </li>
                <li><a>化学</a>
                </li>
            </ul>
            <a href="http://kehai.com/site/course/selectCourse.htm" class="more pa">更多<em>&gt;</em></a>
            <hr>
            <div class="tabCont noBorder" id="todayRecommendView">
                <div id="terdayCour" class="tabItem clearfix">
                    {{# each init.terdayCour}}
                        <dl>
                            <dt><a href="/site/course/{{this.courseId}}/courseContent.htm"><img
                                    style="width:240px; height: 135px;"
                                    _src="//r.kehai.com/file/loadImage/{{this.advertiseResId}}.r"
                                    src="//r.kehai.com/file/loadImage/{{this.advertiseResId}}.r"></a></dt>
                            <dd><h5><a title="{{this.courseTitle}}"
                                       href="/site/course/{{this.courseId}}/courseContent.htm">{{this.courseTitle}}</a>
                            </h5><span class="fl"><a title="{{this.orgName}}"
                                                     href="/site/shool/{{this.courseId}}/findCourseByorgId.htm">{{this.orgName}}</a></span><span
                                    class="red fr">{{fmoney this.price 2}}</span></dd>
                        </dl>
                    {{/each}}
                </div>
                <div id="" class="tabItem clearfix hide">
                    {{# each today1.terdayCour}}
                        <dl>
                            <dt><a href="/site/course/{{this.courseId}}/courseContent.htm"><img
                                    style="width:240px; height: 135px;"
                                    _src="//r.kehai.com/file/loadImage/{{this.advertiseResId}}.r"
                                    src="//r.kehai.com/file/loadImage/{{this.advertiseResId}}.r"></a></dt>
                            <dd><h5><a title="{{this.courseTitle}}"
                                       href="/site/course/{{this.courseId}}/courseContent.htm">{{this.courseTitle}}</a>
                            </h5><span class="fl"><a title="{{this.orgName}}"
                                                     href="/site/shool/{{this.courseId}}/findCourseByorgId.htm">{{this.orgName}}</a></span><span
                                    class="red fr">{{fmoney this.price 2}}</span></dd>
                        </dl>
                    {{/each}}
                </div>
                <div id="" class="tabItem clearfix hide">
                    {{# each today2.terdayCour}}
                        <dl>
                            <dt><a href="/site/course/{{this.courseId}}/courseContent.htm"><img
                                    style="width:240px; height: 135px;"
                                    _src="//r.kehai.com/file/loadImage/{{this.advertiseResId}}.r"
                                    src="//r.kehai.com/file/loadImage/{{this.advertiseResId}}.r"></a></dt>
                            <dd><h5><a title="{{this.courseTitle}}"
                                       href="/site/course/{{this.courseId}}/courseContent.htm">{{this.courseTitle}}</a>
                            </h5><span class="fl"><a title="{{this.orgName}}"
                                                     href="/site/shool/{{this.courseId}}/findCourseByorgId.htm">{{this.orgName}}</a></span><span
                                    class="red fr">{{fmoney this.price 2}}</span></dd>
                        </dl>
                    {{/each}}
                </div>
                <div id="" class="tabItem clearfix hide">
                    {{# each today3.terdayCour}}
                        <dl>
                            <dt><a href="/site/course/{{this.courseId}}/courseContent.htm"><img
                                    style="width:240px; height: 135px;"
                                    _src="//r.kehai.com/file/loadImage/{{this.advertiseResId}}.r"
                                    src="//r.kehai.com/file/loadImage/{{this.advertiseResId}}.r"></a></dt>
                            <dd><h5><a title="{{this.courseTitle}}"
                                       href="/site/course/{{this.courseId}}/courseContent.htm">{{this.courseTitle}}</a>
                            </h5><span class="fl"><a title="{{this.orgName}}"
                                                     href="/site/shool/{{this.courseId}}/findCourseByorgId.htm">{{this.orgName}}</a></span><span
                                    class="red fr">{{fmoney this.price 2}}</span></dd>
                        </dl>
                    {{/each}}
                </div>
                <div id="" class="tabItem clearfix hide">
                    {{# each today4.terdayCour}}
                        <dl>
                            <dt><a href="/site/course/{{this.courseId}}/courseContent.htm"><img
                                    style="width:240px; height: 135px;"
                                    _src="//r.kehai.com/file/loadImage/{{this.advertiseResId}}.r"
                                    src="//r.kehai.com/file/loadImage/{{this.advertiseResId}}.r"></a></dt>
                            <dd><h5><a title="{{this.courseTitle}}"
                                       href="/site/course/{{this.courseId}}/courseContent.htm">{{this.courseTitle}}</a>
                            </h5><span class="fl"><a title="{{this.orgName}}"
                                                     href="/site/shool/{{this.courseId}}/findCourseByorgId.htm">{{this.orgName}}</a></span><span
                                    class="red fr">{{fmoney this.price 2}}</span></dd>
                        </dl>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <!--热门课程-->
    <div class="frame_12k todyRecommend hotClasses clearfix">
        <div class="tody_l frame_l_s">
            <h2>热门课程</h2>
            <a href="http://kehai.com/site/shool/235957291675059232/findCourseByorgId.htm " target="_blank">

                {{#each banners.advertisings}}
                    {{#compare 8 '==' @index}}
                        <img _src="//r.kehai.com/file/loadImage/1582042851299.r" alt="精品课" title="精品课"
                             src="//r.kehai.com/file/loadImage/{{imgID}}.r">
                    {{else}}

                    {{/compare}}

                {{/each}}
                <!--<img-->
                <!--_src="//r.kehai.com/file/loadImage/1578657489001.r" alt="精品课" title="精品课"-->
                <!--src="//r.kehai.com/file/loadImage/1578657489001.r">-->
            </a>
        </div>
        <div class="tody_r frame_r_l pr tab">
            <ul class="tabList noBorder">
                <li><a class="ac">语文</a>
                </li>
                <li><a>数学</a>
                </li>
                <li><a>英语</a>
                </li>
                <li><a>物理</a>
                </li>
                <li><a>化学</a>
                </li>
            </ul>
            <a href="http://kehai.com/site/course/selectCourse.htm" class="more pa">更多<em>&gt;</em></a>
            <hr>
            <div class="tabCont noBorder clearfix">
                <div id="goodCour" class="tabItem clearfix">
                    {{# each init.goodCour}}
                        <dl>
                            <dt><a href="/site/course/{{this.courseId}}/courseContent.htm"><img
                                    style="width:240px; height: 135px;"
                                    _src="//r.kehai.com/file/loadImage/{{this.advertiseResId}}.r"
                                    src="//r.kehai.com/file/loadImage/{{this.advertiseResId}}.r"></a></dt>
                            <dd><h5><a title="{{this.courseTitle}}"
                                       href="/site/course/{{this.courseId}}/courseContent.htm">{{this.courseTitle}}</a>
                            </h5><span class="fl"><a title="{{this.orgName}}"
                                                     href="/site/shool/{{this.courseId}}/findCourseByorgId.htm">{{this.orgName}}</a></span><span
                                    class="red fr">{{fmoney this.price 2}}</span></dd>
                        </dl>
                    {{/each}}

                </div>
                <div class="tabItem clearfix hide">
                    {{# each good1.goodCour}}
                        <dl>
                            <dt><a href="/site/course/{{this.courseId}}/courseContent.htm"><img
                                    style="width:240px; height: 135px;"
                                    _src="//r.kehai.com/file/loadImage/{{this.advertiseResId}}.r"
                                    src="//r.kehai.com/file/loadImage/{{this.advertiseResId}}.r"></a></dt>
                            <dd><h5><a title="{{this.courseTitle}}"
                                       href="/site/course/{{this.courseId}}/courseContent.htm">{{this.courseTitle}}</a>
                            </h5><span class="fl"><a title="{{this.orgName}}"
                                                     href="/site/shool/{{this.courseId}}/findCourseByorgId.htm">{{this.orgName}}</a></span><span
                                    class="red fr">{{fmoney this.price 2}}</span></dd>
                        </dl>
                    {{/each}}
                </div>
                <div class="tabItem clearfix hide">
                    {{# each good2.goodCour}}
                        <dl>
                            <dt><a href="/site/course/{{this.courseId}}/courseContent.htm"><img
                                    style="width:240px; height: 135px;"
                                    _src="//r.kehai.com/file/loadImage/{{this.advertiseResId}}.r"
                                    src="//r.kehai.com/file/loadImage/{{this.advertiseResId}}.r"></a></dt>
                            <dd><h5><a title="{{this.courseTitle}}"
                                       href="/site/course/{{this.courseId}}/courseContent.htm">{{this.courseTitle}}</a>
                            </h5><span class="fl"><a title="{{this.orgName}}"
                                                     href="/site/shool/{{this.courseId}}/findCourseByorgId.htm">{{this.orgName}}</a></span><span
                                    class="red fr">{{fmoney this.price 2}}</span></dd>
                        </dl>
                    {{/each}}
                </div>
                <div class="tabItem clearfix hide">
                    {{# each good3.goodCour}}
                        <dl>
                            <dt><a href="/site/course/{{this.courseId}}/courseContent.htm"><img
                                    style="width:240px; height: 135px;"
                                    _src="//r.kehai.com/file/loadImage/{{this.advertiseResId}}.r"
                                    src="//r.kehai.com/file/loadImage/{{this.advertiseResId}}.r"></a></dt>
                            <dd><h5><a title="{{this.courseTitle}}"
                                       href="/site/course/{{this.courseId}}/courseContent.htm">{{this.courseTitle}}</a>
                            </h5><span class="fl"><a title="{{this.orgName}}"
                                                     href="/site/shool/{{this.courseId}}/findCourseByorgId.htm">{{this.orgName}}</a></span><span
                                    class="red fr">{{ fmoney this.price 2}}</span></dd>
                        </dl>
                    {{/each}}
                </div>
                <div class="tabItem clearfix hide">
                    {{# each good4.goodCour}}
                        <dl>
                            <dt><a href="/site/course/{{this.courseId}}/courseContent.htm"><img
                                    style="width:240px; height: 135px;"
                                    _src="//r.kehai.com/file/loadImage/{{this.advertiseResId}}.r"
                                    src="//r.kehai.com/file/loadImage/{{this.advertiseResId}}.r"></a></dt>
                            <dd><h5><a title="{{this.courseTitle}}"
                                       href="/site/course/{{this.courseId}}/courseContent.htm">{{this.courseTitle}}</a>
                            </h5><span class="fl"><a title="{{this.orgName}}"
                                                     href="/site/shool/{{this.courseId}}/findCourseByorgId.htm">{{this.orgName}}</a></span><span
                                    class="red fr">{{fmoney this.price 2}}</span></dd>
                        </dl>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <!-- 一对一 -->
    <div class="oneTones frame_12k pr">

        <h2>一对一</h2>
        <a href="http://kehai.com/site/course/selectCourse.htm" class="more pa">更多<em>&gt;</em></a>
        <hr>
        <div class="oneToneMains" id="onetooneCour">
            {{# each init.onetooneCour}}
                {{#compare 4 '>' @index}}
                    <dl>
                        <dt><a href="/site/course/{{this.courseId}}/courseContent.htm"><img
                                style="width:240px; height: 135px;"
                                _src="//r.kehai.com/file/loadImage/{{this.advertiseResId}}.r"
                                src="//r.kehai.com/file/loadImage/{{this.advertiseResId}}.r"></a></dt>
                        <dd><h5><a title="{{this.courseTitle}}"
                                   href="/site/course/{{this.courseId}}/courseContent.htm">{{this.courseTitle}}</a>
                        </h5><span class="fl"><a title="{{this.orgName}} {{ addOne @index}}"
                                                 href="/site/shool/{{this.courseId}}/findCourseByorgId.htm">{{this.orgName}}</a></span><span
                                class="red fr">{{ fmoney this.price 2}}</span></dd>
                    </dl>
                {{else}}

                {{/compare}}

            {{/each}}

        </div>
    </div>

    <!--最新评论开始-->
    <div class="all_comment frame_12k">
        <div class="newest_discuss_top clearfix pr">
            <h3>学员评论</h3>
            <a href="javascript:;" class="pa">换一换</a>
        </div>
        <ul id="" class="comment clearfix">
            <li>
                <div class="title_left">
                    <span>找准薄弱点，一一去击破</span>
                    <p>
                        我今年上六年级，学习成绩忽高忽低。有时前三名，有时直接就下滑到二三十名！为此没少挨爸妈骂。自从在课海网补习以后，老师帮我分析了学习习惯与方式，最后才知道都是粗心大意惹的祸。在老师细心的指导下,我改掉了坏习惯。现在成绩可以稳定在前三，真的太开心了！</p>
                </div>
                <div class="fl pr">
                    <i></i>
                    <img _src="//r.kehai.com/front/sanhai/images/commen1.png" alt=""
                         src="//r.kehai.com/front/sanhai/images/commen1.png">
                    <h6>陈同学</h6>
                    <span>六年级&nbsp;来自临沂</span>
                </div>
            </li>
            <li class="clearfix">
                <div class="title_left">
                    <span>学会聆听孩子的声音</span>
                    <p>
                        我是一名初二孩子的家长，我家闺女平常很不爱跟我交流。后来有老师给我推荐了课海网家长讲座，专门为家长答疑解惑，我听了几期，并用了一下老师说的方法：放下手机聆听孩子的想法。没想到真的起作用了，孩子现在跟我无话不谈。</p>
                </div>
                <div class="fl pr">
                    <i></i>
                    <img _src="//r.kehai.com/front/sanhai/images/commen2.png" alt=""
                         src="//r.kehai.com/front/sanhai/images/commen2.png">
                    <h6>梁家长</h6>
                    <span>初二&nbsp;来自平顶山</span>
                </div>
            </li>
            <li class="clearfix" style="margin-right:0">
                <div class="title_left">
                    <span>10次课成功进入班里前10名</span>
                    <p>
                        我是五年级学生，之前从不在外人面前提起成绩。后来，学校老师给妈妈推荐了课海网在线一对一学习，在家就能听老师讲课。课海网郭老师通过10次课给我讲解了阅读方法和写作技巧，没想到考试时很受用。期末考试我的总排名竟然进了班级前10名，以后再也不怕讨论成绩了。</p>
                </div>
                <div class="fl pr">
                    <i></i>
                    <img _src="//r.kehai.com/front/sanhai/images/commen3.png" alt=""
                         src="//r.kehai.com/front/sanhai/images/commen3.png">
                    <h6>高同学</h6>
                    <span>六年级&nbsp;来自邯郸</span>
                </div>
            </li>
        </ul>
    </div>
    <!--最新评论结束-->
</div>
<!-- 入住机构 -->
<div class="enter_organization frame_12k">
    <div class="organization_join">
        <h3>入驻机构</h3><a href="http://kehai.com/site/siteSchoolList.htm">更多&gt;</a>
    </div>
    <div class="organization_banner_wrap pr">
        <a class="prev pa bg"></a>
        <a class="next pa bg"></a>

        <div class="organization_banner pr">
            <ul class="organization_banner_list clearfix pa">
                {{#each newJoinOrg.list}}
                    <li>
                        <a href="/site/shool/{{orgId}}/findCourseByorgId.htm">
                            <img style="width:120px; height: 120px;"
                                 src="//r.kehai.com/file/loadImage/{{ppResId}}.r"
                                 alt="{{orgName}}" title="{{orgName}}">
                        </a>
                    </li>
                {{/each}}

            </ul>
        </div>
        <div class="enter_organization frame_12k">
            <hr>
            <div class="questions_wrap clearfix">
                <div class="questions_item">
                    <div class="questions_item_cont clearfix">
                        <i class="bg questions_item_bg1"></i>
                        <div class="questions_text">
                            <p class="questions_head"><a href="/site/webBottomLink/toStuIndex.htm">学生帮助</a></p>
                            <p><a href="/site/webBottomLink/toStuIndex.htm">关于注册</a></p>
                            <p><a href="/site/webBottomLink/toStuIndex.htm">关于课程</a></p>
                            <p><a href="/site/webBottomLink/toStuIndex.htm">关于支付和售后</a></p>
                        </div>
                    </div>
                </div>
                <div class="questions_item">
                    <div class="questions_item_cont clearfix">
                        <i class="bg questions_item_bg2"></i>
                        <div class="questions_text">
                            <p class="questions_head"><a href="/site/webBottomLink/toteacherindex.htm">教师帮助</a></p>
                            <p><a href="/site/webBottomLink/toteacherindex.htm">关于注册</a></p>
                            <p><a href="/site/webBottomLink/toteacherindex.htm">关于课程</a></p>
                            <p><a href="/site/webBottomLink/toteacherindex.htm">关于财务</a></p>
                        </div>
                    </div>
                </div>
                <div class="questions_item">
                    <div class="questions_item_cont clearfix">
                        <i class="bg questions_item_bg3"></i>
                        <div class="questions_text">
                            <p class="questions_head"><a href="/site/webBottomLink/toorganizationIndex.htm">学校帮助</a></p>
                            <p><a href="/site/webBottomLink/toorganizationIndex.htm">关于注册</a></p>
                            <p><a href="/site/webBottomLink/toorganizationIndex.htm">关于课程</a></p>
                            <p><a href="/site/webBottomLink/toorganizationIndex.htm">关于财务</a></p>
                        </div>
                    </div>
                </div>
                <div class="questions_item border_none">
                    <div class="questions_item_cont clearfix" style="margin-left:30px;">
                        <i class="bg questions_item_bg4"></i>
                        <div class="questions_text">
                            <p class="questions_head"><a href="#">课海公众号</a></p>
                            <p><a href="javascript:void(0);">最全面的教育知识</a></p>
                            <p><a href="javascript:void(0);">最专业的学习指导</a></p>
                            <p><a href="javascript:void(0);">最有效的提分技巧</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 底部 -->
